body {
    background-image: url(../img/mariahfondos.jpg);
    padding: 150px;
    font-family: 'Times New Roman', Times, serif;
}
@media only screen and (max-width:768px) {
.billboard2 img {
 height: 200px;
}
}
.iframe {
    background-image: url(../img/logominiweb.jfif);
    height: 50%;
    transition-property: opacity 0;
    transition-duration: 2s;
}
.iframe:hover {
    background-image: url(../img/992837.jpg);
    background-size: 40%;
    height: 300px;
}
.billboard2 img:hover {
    transform: skewX(30deg);
}
  nav {
    background-image: linear-gradient(to bottom, #000000, #333333);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-list li {
    margin: 0 15px;
  }
  
  .nav-list li:first-child {
    margin-left: 0;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-list li a:hover {
    color: #ff2d55;
  }
  body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
$color-fondo: #ffffff;
footer {
  background-color: $color-fondo;
}
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    a {
      margin-right: 10px;
      
      i {
        font-size: 24px;
        color: #333;
        transition: color 0.3s;
        
        &:hover {
          color: #666;
        }
      }
    }
  }
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #ff0;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}
button {
  background-color: #f00;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c00;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #f00;
  }
}
